/* MIXINS */

// Different devices resolutions
@mixin respond-to($media) {
  @if $media==old-phones {
    @media only screen and (max-width: 320px) {
      @content;
    }
  }
    //480
  @else if $media==phones {
    @media only screen and (max-width: $screen-xs) {
      @content;
    }
  }
    //768
  @else if $media==phones-landscape {
    @media only screen and (max-width: $screen-xs-max) {
      @content;
    }
  }
  @else if $media==nexus7 {
    @media only screen and (max-width: 960px) {
      @content;
    }
  }
    //991
  @else if $media==tablets-portrait {
    @media only screen and (max-width: $screen-sm-max) {
      @content;
    }
  }
    //1200
  @else if $media==tablets-landscape {
    @media only screen and (max-width: $screen-md-max) {
      @content;
    }
  }
  @else if $media==desktops {
    @media only screen and (min-width: $screen-lg) {
      @content;
    }
  }
  @else if $media==desktops-large {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
}
