// Main  colors.
$white: #FFFFFF;
$black: #000000;
$blue: #01579B;
$lightest-blue: #E5F7FF;
$light-blue: #039BE5;
$dark-blue: #345671;
$darkest-blue: #022C4E;
$orange: #FFC107;
$dark-orange: #FC5B02;
$light-gray: #F8F9FB;
$gray: #E9ECF2;
$dark-gray: #757575;
$yellow: #FFD54F;
$text-color: #222;

// HEIGHT AND DIMENSIONS.
$small-spacer: 10px;
$medium-spacer: 15px;
$large-spacer: 20px;
$bigger-spacer: 30px;
$long-spacer: 60px;

// TYPOGRAPHY.

// Smaller font.
$font-size-small: 13px;
$font-size-middle: 14px;
$font-size-body: 16px;
$font-size-main: 18px;
$font-size-article: 20px;
$line-height-middle: 22px;
$font-size-header: 24px;
$line-height-main: 26px;
$font-size-large: 30px;
$font-size-bigger: 60px;

// Fonts.
$title-font: 'Montserrat';
$body-font: 'OpenSans';
$bold-font: 'OpenSansBold';
$xbold-font: 'OpenSansBold';
$light-font: 'OpenSansLight';
$weight-bold: 700;
$weight-regular: 400;
$weight-light: 100;
