.page-articles {

  .view-articles {

    .view-content {

      .views-row {
        width: 100%;
        margin: 2rem 0;
        display: inline-flex;

        img {
          border: 1px solid $gray;
          border-radius: 4px;
          height: 10rem;
          width: 10rem;
        }

        .left {
          display: inline;
          padding: 1rem;

          .articles__title {
            display: block;
            a {
              color: $dark-blue;
            }
          }

          .articles__date {
            display: block;
            color: $dark-gray;
          }

        }

      }

    }

  }

}