.node-type-article {

  .main-container {

    .node-article {
      @include respond-to(phones-landscape) {
        margin-bottom: 2rem;
      }

      p {
        text-indent: 4rem;
        line-height: 2.4rem;
        @include respond-to(phones-landscape) {
          text-align: justify;
        }
      }

      .field-type-image {
        text-align: center;

        img {
          display: inline;
        }
      }

    }
  }

}
