#block-views-related-article-block {
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid;
  border-color: $darkest-blue;
  border-radius: 4px;
  box-shadow: 0 1px 1px $gray;
  position: relative;

  .block-title {
    color: $blue;
    background-color: $gray;
    border-color: $darkest-blue;
    padding: 1rem;
    text-align: center;
    margin: auto;


  }

  .view-related-article {
    padding: 2rem 2rem;

    .views-field-title {
      margin: 1rem auto;

      a {
        color: $dark-blue;
      }

    }

  }

}
