.footer {

  .region-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    @include respond-to(phones) {
      display: inline;
      text-align: center;
    }

    .block {
      @include respond-to(phones) {
        margin-bottom: 2rem;
      }
    }

    .menu {
      display: inline-flex;

      a {
        color: $dark-blue;
        &:hover {
          border-radius: 1rem;
        }

      }

    }

  }

}
