.front {

  .view-main-page {

    .view-header {
      font-size: 5rem;
      text-align: center;
      margin: 2rem 0;
    }

    .view-content {

      .views-row {
        margin: 3rem 0;
        border: $darkest-blue solid 0.1rem;
        padding: 2rem;
        border-radius: 4px;

        .views-field-title {
          text-align: right;
          width: 100%;
          margin: 0 auto;
          font-family: $title-font;
          font-weight: $weight-bold;
          text-transform: uppercase;
          font-size: $font-size-large;
          letter-spacing: 1.5px;
          position: relative;

          a {
            color: $dark-blue;
          }
        }

        .views-field-field-body {
          text-align: justify;
          text-indent: 4rem;
          line-height: 2.4rem;
        }

      }
    }

  }

}
